# Python stuff
__pycache__
.pytest_cache
.ruff_cache

# Virtual enviroments
.env
.venv/

# Text files
*.txt
!requirements.txt

# Database
*.sqlite

# Directories with videos
videos

# Tests
tests
Makefile

# Documentation
Makefile

# Docker stuff
docker-compose.yml
Dockerfile
.dockerignore

# Git stuff
.git/
.gitignore